.settings{
    background-color: #EBD96B;
}
.settingsRow{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}
@media (max-width: 1145px) {
    .settingsRow{
        padding-bottom: 15px;
    }
}
.catalog{
    padding: 50px 0px;
}