.wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid darkgray;;
    border-top: 1px solid darkgray;
    .info{
        display: flex;
        align-items: center;
        img{
            margin-right: 10px;
            width: 80px;
        }
        .textInfo{
            max-width: 220px;
            h3{
                font-size: 18px;
                font-weight: 400;
            }
        }
    }
    .decidedSize{
        color: darkgray;
        font-size: 20px;
    }
    .countItems{
        display: flex;
        align-items: center;
        span{
            padding: 0 5px;
        }
        
    .icon{
        width: 35px;
        height: 35px;
        cursor: pointer;
        fill: darkgray;
        transition: all .3s;
        &:hover{
            fill: #000;
        }
    }
    }
    .iconClear{
        width: 50px;
        height: 50px;
        cursor: pointer;
        fill: darkgray;
        transition: all .3s;
        &:hover{
            fill: #000;
        }
    }
    .totalCost{
        
    }
}
@media (max-width: 491px) {
    .wrap{
        .info{
            img{
                width: 40px;
                margin-right: 5px;
            }
            .textInfo{
                max-width: 220px;
                h3{
                    font-size: 14px;
                }
                p{
                    font-size: 14px;
                }
            }
        }
        .countItems{
            display: flex;
            align-items: center;
            span{
                padding: 0 1px;
                font-size: 20px;
            }
        }
    }
}